.drawIndex {
  width: 100%;
  height: 100%;
  font-family: 'PingFang SC', 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  //background-color: gray;
}

#top {
  width: 100%;
  height: 100%;
  margin-left: 24px;
  justify-content: space-between;
  //background-color: aquamarine;
}

#styles {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin-top: 0.75rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.grid-item {
  display: flex;
  aspect-ratio: 1.22;
  border-radius: 20px;
  border: 4px solid rgba(0, 0, 0, 0.2);
}

.image-container {
  position: relative;
}

.selected {
  border-radius: 20px;
  border: 4px solid var(--primary, #000);
  //box-shadow:
  //    0px 4.20513px 11px 0px rgba(0, 0, 0, 0.08),
  //    -2.80342px -2.80342px 3.50427px 0px rgba(0, 0, 0, 0.02);
}

.index-styles-image {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

#homepage_login_btn {
  margin: 0 auto;
  width: 62%;
  background: radial-gradient(
                  215.83% 83.33% at 100% 0%,
                  rgba(255, 255, 255, 0.7) 0%,
                  rgba(255, 255, 255, 0.07) 51.11%,
                  rgba(255, 255, 255, 7e-5) 100%
  ),
  linear-gradient(46.59deg, rgba(13, 231, 255, 9e-5) 2.92%, rgba(13, 231, 255, 0.63) 88.7%), #9ff432;
  border: 0;
  border-radius: 131px;
}

#homepage_login_btn_text {
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #010101;
}
