/* 在你的样式文件（例如 index.scss）中添加以下内容 */

.img-box {
  padding-top: 50px;
  padding-bottom: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 每行两列 */
  gap: 10px; /* 图像之间的间距 */
  justify-content: center; /* 图像居中 */
}

.image-container {
  width: 50vw; /* 图像容器宽度 */
  height: 50%; /* 图像容器高度 */
}

/* 可以根据需要调整间距、大小等样式 */
