.generate-result-detail {
  width: 100vw;
  height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  //background-color: gray;
}

// TOP Start =========================
.group_4 {
  margin-top: 2.5vh;
  margin-left: 2.5vh;
}

.font_2 {
  font-size: 1.746vh;
  line-height: 1.621vh;
  color: #000000;
}

.text_3 {
  opacity: 0.8;
}

.text_4 {
  opacity: 0.6;
}

.group_5 {
  margin-top: 2.5vh;
  margin-left: 2.5vh;
}

// TOP End =========================

.img-area {
  margin-left: 1.5rem;
  margin-top: 1.5rem;
  margin-right: 1.5rem;
  width: auto;
  position: relative;
  //border: 4px solid #ccc;
  //border-radius: 5%;
  //aspect-ratio: 1 / 1;
  //background-color: aquamarine;
}

.img-area-op {
  position: absolute;
  top: 2vh;
  left: 2vh;
  width: 6vh;
  height: 14vh;
}

.img-area-share {
  width: 6vh;
  height: 6vh;
}

.img-area-download {
  width: 6vh;
  height: 6vh;
}


.image-chose {
  margin-left: 1.5rem;
  margin-top: 1.5rem;
  margin-right: 1.5rem;
  width: auto;
}

.image-show {
  width: 100%;
  height: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 5%; /* 添加圆角,参数是百分比形式 */
  border: 4px solid #ccc;
}

.image-item-active {
  // 边框
  border: 4px solid #000;
}

.btn-area {
  margin-left: 1.5rem;
  margin-top: 1.5rem;
  margin-right: 1.5rem;
  width: auto;
  //background-color: #71fcb7;
  justify-content: space-between;
}

.btn-area .btn {
  margin-left: 20%;
  margin-right: 20%;
  width: 60%;
  justify-content: space-between;
}
