.generate-result-detail {
  width: 100vw;
  height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  //background-color: gray;
  padding-top: 2.5vh;

}

// TOP Start =========================
.group_4 {
  //margin-top: 2.5vh;
  margin-left: 1.5rem;
}

.font_2 {
  font-size: 1.746vh;
  line-height: 1.621vh;
  color: #000000;
  line-height: normal;
}

.text_3 {
  opacity: 0.8;
}

.text_4 {
  opacity: 0.6;
  max-width: fit-content;
  line-height: normal;
  text-align: top;
}

.group_5 {
  margin-top: 2.5vh;
  margin-left: 1.5rem;
  max-width: 80%;
}

// TOP End =========================

.img-area {
  margin-left: 1.5rem;
  margin-top: 1.5rem;
  margin-right: 1.5rem;
  width: auto;
  position: relative;
  //border: 4px solid #ccc;
  //border-radius: 5%;
  //aspect-ratio: 1 / 1;
  //background-color: aquamarine;
}

.img-area-op {
  position: absolute;
  top: 2vh;
  left: 2vh;
  width: 6vh;
  height: 14vh;
}

.img-area-share {
  width: 6vh;
  height: 6vh;
}

.img-area-download {
  width: 6vh;
  height: 6vh;
}


.image-chose {
  margin-left: 1.5rem;
  margin-top: 1.5rem;
  margin-right: 1.5rem;
  width: auto;
}

.image-show {
  width: 100%;
  height: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 5%; /* 添加圆角,参数是百分比形式 */
  border: 4px solid #ccc;
}

.image-item-active {
  // 边框
  border: 4px solid #000;
}

.btn-area {
  margin: 0 auto;
  width: 90vw;
  //background-color: #71fcb7;
  justify-content: space-between;
  align-items: center;
}

.btn-area .btn {
  margin: 2.5vh 15% 1.5vh;
  width: 70%;
  justify-content: space-between;
}


.ai-generate-tips {
  width: 20vw;
  display: flex;
  margin: 0 auto;
  align-items: center;
}

.ai-generate-tips p {
  font-size: 1.746vh;
  line-height: 1.621vh;
  color: #383838;
}

.ai-generate-tips img {
  width: 1.746vh;
  height: 1.746vh;
  margin-right: 1vh;
}


// POPUP Start =========================
.font_1 {
  margin-top: 4vh;
  font-size: 1.746vh;
  line-height: 1.631vh;
  color: #000000;
}
.text_2 {
  opacity: 0.9;
}

.group_10 {
  padding: 0.635vh 0 0.603vh;
}

.text_7 {
  font-size: 1.87vh;
  line-height: 1.754vh;
}
.text_8 {
  margin: 4vh 5vh;
  color: #000000e6;
  font-size: 1.746vh;
  line-height: 2.12vh;
  letter-spacing: 0.0873vh;
}
// POPUP End =========================
